

.loginForm{
    width: 20%;
    top: 30vh;
    left: 90vh;
    position: relative;
    border: solid 1px black;
    border-radius: 5%;
    padding-left: 4px;
    text-align: center;
}

.loginInput{
    top:2%;
    border-radius: 5%;
}