.registrationForm{
    width: 20%;
    top: 30vh;
    left: 90vh;
    position: relative;
    border: solid 1px black;
    border-radius: 6%;
    text-align: center;
    padding-left: 4px;
}

.registrationInput{
    top:2%;
    border-radius: 5%;
}